/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
	background-image:url(https://www.globalfocusmagazine.com/wp-content/uploads/2020/02/Engaging_with_technology-scaled.jpg);
	color:white;
}
