/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
	background-image:url(https://www.globalfocusmagazine.com/wp-content/uploads/2020/02/Engaging_with_technology-scaled.jpg);
	background-size: cover;
	background-repeat:no-repeat
}
#head{
	text-align:center;	
	color:white;
}
